
{# src/Dshu/ChatBundle/Resources/views/Default/index.html.twig #}
{% extends 'DshuChatBundle::layout.html.twig' %}
{% block title %}{{ chatid }}{% endblock %}
{% block js_script %}
<script src="http://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
var curTime;
var updater;

function sendData(){
	$.post("{{ path('chat_send') }}", {
		chatid : $("#form_chatid").val(),
		user : $("#form_user").val(),
		message : $("#form_message").val()},function(){
			$("#form_message").val('');
			updateChat();
		});
}

function extractTime(tstr){
	timestamp = new Date(parseInt(tstr.substring(0,8), 16)*1000);
	return timestamp.getHours() + ":" + timestamp.getMinutes();
}
function updateChat(){
	$.post("{{ path('chat_getchat') }}", {
		chatid : $("#form_chatid").val(),
		time : curTime},function(data){
				var obj = data['messages'];
				for(var i=0; i<obj.length;i++){
					json = obj[i];
					oid = json['id'];
					
					var msg = $( "<div id=\"msg\"><span class=\"spanUser\">" + json['user'] + 
									"</span><span class=\"spanTime\"> [" + extractTime(oid) + "]</span> : " + json['message'] + "</div>");
					$("#messages").append(msg);
					$("#messages").animate({scrollTop: '400px'});
					curTime = (parseInt(oid.substring(0,8),16)+1).toString(16);
				}
		},"json");
}
$(document).ready(function(){
	curTime = "{{ curTime }}";
	updater = setInterval(updateChat,5000);
	// prevent enter button from submitting form
	$("#sendForm").bind('keypress', function(e) {
		if(e.keyCode == 13){
			e.preventDefault();
			sendData();
		}
	    
	});
});
</script>
{% endblock %}
{% block content %}
	<div id="messages">
	{% for msg in messages %}
		<div id="msg"><span class="spanUser">{{ msg.user }}</span><span class="spanTime"> [<script>document.write(extractTime("{{ msg.id }}"));</script>]</span> : {{ msg.message }}</div>
	{% endfor %}
	</div>
	<div id="send">
		<form id="sendForm" action="#" method="post" {{ form_enctype(form) }}>
	    	{{ form_row(form.user) }}
	    	{{ form_row(form.chatid) }}
			{{ form_widget(form.message) }}
	
	    	{# <button id="sendBtn">Send</button> #}
		</form>
	</div>
{% endblock %}